<section id="book-a-table" class="book-a-table">
    <div class="container">
        <div class="section-title">
            <h2>Забронюйте <span>Столик</span></h2>
            <p>Для того, щоб ми могли, часом, причепитися, це станеться будь-яким способом, але доцільно отримати задоволення та задоволення від життя.</p>
        </div>
        <form method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-md-6 form-group">
                    {{ form_reserve.name }}
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                    {{ form_reserve.email_us }}
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                    {{ form_reserve.phone }}
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                    {{ form_reserve.date }}
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                    {{ form_reserve.times }}
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                    {{ form_reserve.persons }}
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-group mt-3">
                {{ form_reserve.message }}
                <div class="validate"></div>
            </div>
            <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Відправити повідомлення</button></div>
        </form>
      </div>
</section>